html {
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

img {
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
    object-fit: cover;
    padding: 1%;
}

h5 {
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
}

.section-title {
    margin: 0.5%;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
}

.card--width2 > img {
    width: 100%;
    height: 50vw;
    box-sizing: border-box;
    object-fit: cover;
    padding: 1%;
}

.text-container {
    text-align: justify;
    line-height: 1.25;
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

h5 {
    font-size: 22px;
    margin-bottom: 1vh;
}

.fab {
    text-align: center;
}

.button-container {
    bottom: 0;
    right: 0;
    height: 0px;
    display: flex;
    text-align: center;
    border-radius: 25px;

}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 33.33vw;
    position: relative;
}

.card:hover .button-container {
    display: flex;
    transition: .2s ease-in;
    height: inherit;
    bottom: 0;
    right: 0;
    background: white;
    justify-content: space-evenly;
    align-items: center;
}

.text-container {
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.card:hover .text-container {
    display: flex;
    position: absolute;
    overflow: hidden;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.card:hover .opacity-background {
    background-color: black;
    opacity: .7;
    height: 50%;
    width: 50%;
}

.card:hover img {
    transition: .2s ease-in;
    filter: brightness(20%);
}

.card--width2 {
    width: 50vw;
    position: relative;
}

.main-project-card {
    position: relative;
    width: 48%;
    height: 300px;
    margin: 1vw 1vh;
    background-color: gray;
}

.main-project-card:hover {
    transition: .1s ease-in;
    opacity: .5;
}

.card-title {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 3vw;
}

.website-link {
    padding: 10px;
    margin: 5px;
    background-color: white;
}

.website-link:hover {
    transition: .2s ease-in;
    color: white;
    background-color: black;
}

.modal-button {
    padding: 10px;
    margin: 5px;
    background-color: white;
    border: none;
}

.modal-button:hover {
    transition: .2s ease-in;
    color: white;
    background-color: black;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5%;
    background-color:gray;
}

.skills-desc {
    text-align: justify;
}

.item-skills {
    margin: 1vw;
    width: 250px;
    text-align: center;
}

.item-skills:hover {
    color: white;
    transition: 0.2s ease-in;
}

#home {
    height: 50vh;
    background: gray;
}


/* navbar */
li {
    float: right;
}

.sticky {
    position: fixed;
    top: 0;
    right: 3.5%;
    width: 100%;
    height: 70px;
    z-index: 1;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10%;
}

span {
    font-size: 20px;
    font-weight: 600;
}